<%- include('../member/partials/header') %>

<% if (success_messages.length > 0) { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert"><%= success_messages[0] %></div>
<% } %>
<% if (error_messages.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= error_messages[0] %></div>
<% } %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Pengaturan Website</h1>
</div>

<div class="row">
    <div class="col-lg-8 col-xl-6">
        <div class="card">
            <div class="card-body p-4">
                <form action="/admin/setting/update" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nama Website</label>
                        <input type="text" class="form-control" id="name" name="name" value="<%= webData.name %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="iconUrl" class="form-label">URL Ikon Website</label>
                        <input type="url" class="form-control" id="iconUrl" name="iconUrl" value="<%= webData.iconUrl %>" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Simpan Perubahan</button>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('../member/partials/footer') %>